@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
*{
    margin: 0px;
    padding: 0px;
}

.title_1 {
    width: 100%;
    position: absolute;
    top: 150px;
}

.title_1 h1{
    text-align: center;
    color: #02316d;
    font-size: 65px;
}

.title_2 {
    width: 100%;
    position: absolute;
    top: 150px;
}
.title_2 h1{
    text-align: center;
    color: #02316d;
    font-size: 65px;
}
.area{
    background: rgba(255, 255, 255, 0.2);
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
}
/*
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #02306d62;  
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

*/
/*MEDIAS QUERIES PARA SAKURA*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@media only screen and (max-width : 480px){

  body{
    margin:0;
    padding:0;
    min-height: 100vh;
    min-width: 100%;
   overflow-x:hidden;
  }
.plano_container_sakura{
    width: 100%;
    height: 100%;
    border: none;
    margin-top: -80%;
  }

 /*Ubicacion y descripcion*/ 
   .description_sakura{
     font-size: 12px;
     color:#858585;
     text-align:left;
    justify-content: center;
    align-items: center;
    margin-left: -30%;
   }      
   
   .container_sakura img{
    width: 75%;
    height: 90%;
    margin-left: 25px;
    border: none;
   }
    .container_sakura{
     display: grid;
     grid-template-areas:
     "description img";
     grid-template-columns: 1fr 0.3fr;
    justify-content: center;
     align-items: center;
    }

/*valores y fotos*/
    .valores_desktop{
      display: none;
    }
    .listado_sakura_mobile{
        margin-top: 5px;
        width: 70vh;
        height: 170vh;
       }

    .container_slidersakura_mobile{
        display: grid;
        grid-template-areas:
        "img img";
        grid-template-columns: 2fr;
       justify-content: center;
        align-items: center;
    }
    .img_sakura_mobile{ 
        width:50% ;
        height: 50%;
        margin: 0;
        padding: 0;
    }

/*footer*/
     .container_fsakura {
      display: grid;
      grid-template-areas:
      "description img";
      grid-template-columns: 0.7fr 1fr;
      grid-gap: 5px;
      margin-top: 5px;
      justify-content: center;
      align-items: center;
     }

   .description_footersakura{
         font-size: 12px;
         color:#fffffff8;
         margin-top: 10px;
         margin-right: -5%;
         text-align: center;
         justify-content: center;
     }
  
   .footer_iconsakura{
     display: inline-flex;
     margin-bottom: 5px;
     margin-top: 5px;
      width: 10px;
      margin-right: 5px;
      margin-left: 5px;
   }

   .footer_1sakura{
     width: 120%;
   }
   .footer_sakura{
     background-color: #02316d;
   }
   .footer_textsakura{
     text-decoration: none;
     color: #fffdfd;
   }
  }
  @media only screen and (min-width: 768px) {
    .title h1{
      display: none;
    }
    .select{
     width: 100%;
     position: absolute;
     top: 250px;
     margin-left: 50px;
    }
    .logo{
         align-items: center;
         margin-left: 5;  
    }
    
    .buttons{
        margin-top: 15px;
        margin-left: -15px;
        border: none; 
        color: black; 
        padding: 14px 28px; 
        cursor: pointer; 
        border-radius: 5px; 
        background-color: white; 
        border: 2px solid #007bff;
        font-size: 15px;
    }
    
    .buttons:hover{
        transform: scale(1.2);
    }
    
    .plano_container{
      width: 110%;
      height: 110%;
      border: none;
      margin-top: -50%;
      }
      
      .container {
          display: grid;
          grid-template-areas:
          "description img"
          "description img"
          "description img";
          grid-template-columns: 3fr 1fr;
          grid-gap: 5px;
          margin-top: 20px;
          background-color: transparent;
      }
      
      .container img{
      width: 100%;
      height: 100%;
      border: none;
      }
      .description{
        font-size: 12px;
        color:#000000f8;
        overflow: hidden;
        text-align: left;
    }
      .description_footer{
          font-size: 12px;
          color:#000000f8;
          overflow: hidden;
          text-align: left;
          margin-left: -50px;
      }
      
    .listado{
      margin-top: 10px;
      width: 70vh;
      height: 90vh;
    }
    
    .footer_icon{
      display: inline-flex;
      margin-bottom: 10px;
      margin-top: 5px;
    }
    .footer_img{
      width: 30px;
    }
    .footer_1{
      width: 80%;
    }
    .footer{
      background-color: #ffffff;
    }
    
    .footer_text{
      text-decoration: none;
      color: #000000;
    }
    }
    
    @media only screen and (min-width: 1200px) {

      body{
        margin:0;
        padding:0;
        min-height: 100vh;
        min-width: 100%;
       overflow-x:hidden;
      }
    
      .title_2 h1{
        display: none;
      }
    
      .logo{
        align-items: center;
        margin:auto; 
    }
    .plano_container_sakura{
        width: 100%;
        height: 100%;
        border: none;
        margin-top: -18%;
      }
      
       .description_sakura{
         font-size: 35px;
         color:#858585;
         text-align:left;
        justify-content: center;
        align-items: center;
        margin-left: -50%;
       }      
       .container_sakura img{
        width: 75%;
        height: 90%;
        margin-left: 25px;
        border: none;
       }
        .container_sakura{
         display: grid;
         grid-template-areas:
         "description img";
         grid-template-columns: 1fr 0.3fr;
        justify-content: center;
         align-items: center;
        }

        .valores_mobile{
          display: none;
        }

        .listado_sakura{
            margin-top: 5px;
            width: 100%;
            height: 140vh;
           }

        .container_slidersakura{
            display: grid;
            grid-template-areas:
            "description img";
            grid-template-columns: 2fr 0.5fr;
           justify-content: center;
            align-items: center;
        }
        .img_sakura{ 
            width: 100vh;
            height: 90%;
            margin: 0;
            padding: 0;
        }

         .container_fsakura {
          display: grid;
          grid-template-areas:
          "description img";
          grid-template-columns: 0.5fr 1fr;
          grid-gap: 5px;
          margin-top: 10px;
          justify-content: center;
          align-items: center;
         }

       .description_footersakura{
             font-size: 35px;
             color:#fffffff8;
             margin-top: 25px;
             margin-right: 25%;
             text-align: center;
             justify-content: center;
         }
      
       .footer_iconsakura{
         display: inline-flex;
         margin-bottom: 15px;
         margin-top: 15px;
         width: 30px;
          margin-right: 15px;
          margin-left: 15px;
       }
    
       .footer_1sakura{
         width: 55%;
       }
       .footer_sakura{
         background-color: #02316d;
       }
       .footer_textsakura{
         text-decoration: none;
         color: #fffdfd;
       }
  }



